body {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 18px;
}

h1 {
	text-align: center;
	font-size: 2.3em;
	color: #ff4d4d;
}

header {
	box-sizing: border-box;
	height: 480px;
	background: url('../img/header.jpg') center;
	background-size: cover;
	text-align: center;
	padding: 100px;
	color: #000;
}

header h1 {
	margin-bottom: 0;
	font-weight: bolder;
	font-size: 4.3em;
	color: #000;
}

header h2 {
	margin-top: 5px;
}

section {
	box-sizing: border-box;
	padding: 3px 152px;
}

/*
Thing to use: ;

section > div {
	width: 960px;
	margin: auto;
	padding: 40px 0;
}
*/

section h1 {
	margin-bottom: 31px;
}

footer {
	padding: 22px 152px;
	background: #fff;
}

.section-1 {
	height: 713px;
	background-color: #ffebeb;
}

.section-1 img {
	float: right;
	padding: 0 0 20px 20px;
}

.section-2 {
	height: 686px;
	background-color: #ffb5b5;
}

.picture-box {
	box-sizing: border-box;
	float: left;
	width: 45%;
	margin-right: 48px;
	margin-bottom: 22px;
}

.picture-box img {
	float: left;
	margin-right: 12px;
}

.picture-box b {
	font-size: 1.2em;
}

.picture-box p {
	margin-top: 5px;
}

.section-3 {
	height: 401px;
	background-color: #ffebeb;
	padding: 3px 280px;
}

.section-3 h1 {
	margin-top: 37px;
}

.section-3 p {
	font-size: 1.45em;
	text-align: center;
}