body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.postcard {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.anchor {
	z-index: 99;
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	opacity: 0;
}

p {
	margin: 0;
}

.p-quote {
	font-weight: bold;
}

/* Postcard 1 */

#first {
	background: #e6efff;
}

#first .postcard {
	background: #e6efff url('../img/bg-1.png') center center no-repeat;
	/* Image from https://www.moominmove.com/ */
	background-size: 1500px;
	background-position: -475px 10%; 
	font-family: 'Kalam', cursive;
	font-size: 35px;
}

.quote-1 {
	position: absolute;
	box-sizing: border-box;
	top: 12%;
	width: 50%;
	right: 10%;
	text-align: center;
	padding: 10px;
	color: #fff;
	background: #48a750;
	box-shadow: 10px 10px green;
}

.quote-1 .p-cite {
	font-size: .8em;
}

@media (max-width: 1050px) {
	#first .postcard {
		background-size: 1000px;
		background-position: -200px 200px; 
		font-size: 30px;
	}
}

@media (max-width: 850px) {
	#first .postcard {
		background-size: 700px;
		background-position: -150px 120%; 
		font-size: 30px;
	}
}

@media (max-width: 600px) {
	.quote-1 {
		font-size: 25px;
		right: 50%;
		margin-right: -40%;
		width: 80%;
	}
}

@media (max-width: 400px) {
	.quote-1 {
		font-size: 20px;
		top: 10%;
	}
}

/* Postcard 2 */

#second .postcard {
	background: rgb(255, 231, 249) url('../img/bg-2.png') no-repeat;
	/* Image from https://www.coolsmartphone.com/2016/04/11/135810/moomin-hug-moomijis/ */
	background-size: 500px;
	background-position: 20% 75%;
	font-family: 'Mali', cursive;
	font-size: 30px;
}

.quote-2 {
	box-sizing: border-box;
	position: absolute;
	width: 50%;
	top: 10%;
	right: 10%;
	text-align: center;
}

.quote-2 .p-quote {
	color: #540045;
}

.quote-2 .p-cite {
	text-align: left;
	font-size: .8em;
}

@media (max-width: 900px) {
	#second .postcard {
		background-size: auto 50%;
		background-position: center 75%;
	}

	.quote-2 {
		margin: 10px auto;
		width: 80%;
	}
}

@media (max-width: 400px) {
	#second .postcard {
		font-size: 25px;
	}
}

/* Postcard 3 */

#third .postcard {
	background: rgb(102, 194, 207) url('../img/bg-3.png') no-repeat;
	/* Image from https://www.moomin.com/en/characters/moomintroll/ */
	background-size: 400px;
	background-position: 20% 20%;
	font-family: 'Sriracha', cursive;
	letter-spacing: 2px;
	font-size: 30px;
}

.quote-3 {
	box-sizing: border-box;
	position: absolute;
	bottom: 20%;
	right: 25%;
	width: 400px;
	text-align: center;
	border-radius: 40px;
	border: 3px solid rgb(19, 82, 87);
	padding: 10px 20px;
	background: #fff;
}

.quote-3 .p-quote {
	color: #ff2e74;
}

.quote-3 .p-cite {
	text-align: left;
	font-size: .7em;
	color: rgb(19, 82, 87);
}

@media (max-width: 1250px) {
	#third .postcard {
		background-size: auto 50%;
		background-position: center 15%;
	}

	.quote-3 {
		right: 10%;
		bottom: 20%;
		width: 80%;
	}
}

@media (max-width: 760px) {
	#third .postcard {
		background-size: 300px;
		background-position: center 10%;
	}

	.quote-3 {
		right: 10%;
		bottom: 10%;
		width: 80%;
	}	
}

@media (max-width: 475px) {
	.quote-3 {
		font-size: 25px;
	}
}

@media (max-width: 400px) {
	.quote-3 {
		font-size: 20px;
	}
}